.consultation {
	min-height: 680px;
	padding: 100px 0 92px 0;
	background: url(../img/bg2.png) center (center/cover) no-repeat;
	&__descr {
		font-size: 20px;
		color: #ffffff;
		font-weight: 500;
	}
	.error {
		border: 1px solid red;
	}
	label.error {
		color: #ffffff;
		border: none;
		text-align: center;
		margin-bottom: 15px;
	}
}

@media (max-width: 767px) {
	.consultation {
		padding: 80px 0 0 0;
		&__descr {
			text-align: center;
			margin-top: 20px;
		}
	}
}