.title {
	color: #0d0d0d;
	font-style: 30px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	&_left {
		font-size: 36px;
		text-align: left;
		color: #ffffff;
	}
}

@media (max-width: 767px) {
	.title {
		&_left{
			color: #ffffff;
			font-size: 28px;
			text-align: center;
		}
	}
}